<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.rtl.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.rtl.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="vh-100" style="background-color: #1d1f22;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
    
                    {{ maq_form.as_p }}
    
            <button class="btn btn-primary" type="submit">Finalizar</button>
            <a href="/about.html" class="btn btn-primary" style="background-color: red;"> Regresar </a>


        </form>
    </section>
</div>
</body>
</html>



<!-- <div class="card-body p-5 text-center">
    <form action="/dddd/" method="POST">{% csrf_token %}
    <div class="form-group">
        <input type="number" id="Ide" name="Ide" class="form-control" placeholder="Ingrese ID" >
    </div>
    <div class="form-group">
        <input type="text" id="Nombre" name="Nombre" class="form-control" placeholder="Ingrese nombre" required>
    </div>
    <div class="form-group">
        <input type="image" id="imgen" name="imgen" class="form-control" placeholder="imagen" required>
    </div>
    <div class="form-group">
        <input type="number" id="precio" name="precio" class="form-control" placeholder="Ingrese precio" required>
    </div>
    <div class="form-group">
        <input type="text" id="categog" name="categog" class="form-control" placeholder="Ingrese categoria" required>
    </div>
    <div class="form-group">
        <input type="text" id="descriptio" name="descriptio" class="form-control" placeholder="Descripcion" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Crear</button>
    </div>


</form> -->