{% load static %}
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.rtl.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.rtl.min.css' %}">

<section class="vh-100" style="background-color: #1d1f22;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Inicio de Sesion</h3>
              <form action="" method="post">
               {% csrf_token %}
                <div class="form-outline mb-4">
                    <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="username" />
                    <label class="form-label" for="typeEmailX-2">Usuario</label>
                </div>
  
                <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" />
                    <label class="form-label" for="typePasswordX-2">Contraseña</label>
                </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar</button>
             </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

