{% extends 'core/index.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
    {% for n in news %}
    {% if n.gene == "Femenino" %}
     <div class="col-md-6 col-12">
        <div class="card my-2" style="width: 18rem;">
            {% if n.imgend %}
            <img class="card-img-top" src="{{n.imgend.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ n.Nombrez }}</h5>
            <p class="card-text"> {{n.catego }}</p>
			<p class="card-text">$ {{n.precioz }}</p>
            </div>
        </div>
     </div>   
    
    {% endif %}
    {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if news.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Primera">
            <span aria-hidden="true">Primera</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ news.previous_page_number }}" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">Primera</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}
  
      {% for i in news.paginator.page_range %}
        <li class="page-item{% if news.number == i %} active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
  
      {% if news.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ news.paginator.num_pages }}" aria-label="Ultima">
            <span aria-hidden="true">Ultima</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">Ultima</span>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}